{% extends 'layouts/base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/dependencias.css' %}">

<div id="dependenciasPage" data-url-base="{% url 'dependencias' %}">

    <div class="box-home" id="welcome-message" style="display: flex; justify-content: center; align-items: center;">
        <label style="margin: 0;"><i class="fas fa-sitemap"></i>&nbsp;Seleccione las dependencias a visualizar</label>
    </div>

    <div class="box-home" id="floor-message" style="display: none;">
        <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
            <label style="font-weight: bold; margin: 0;">
                <i class="fas fa-sitemap"></i>&nbsp;Gestor de dependencias ⇒
                <div class="badge text-dark text-decoration-none" style="background-color: #f1e37d;">
                    <span id="floor-name"></span>
                </div>
            </label>
            <select id="floor-selector" class="form-select form-select-sm" style="width: auto; min-width: 150px;">
                <option value="">Seleccionar piso</option>
                <option value="1">Piso 1</option>
                <option value="2">Piso 2</option>
                <option value="3">Piso 3</option>
                <option value="todas">Todas</option>
            </select>
        </div>
    </div>

    <div class="col-md-12 dependencias-container">
        <a href="#" class="dependencias-box" data-piso="1">
            <div class="tittle">Primer Piso</div>
            <hr>
            <div class="secondtext">
                <i class="fa fa-building"></i>
                Cantidad de dependencias: {{ datos_pisos.1.total_dependencias }}
            </div>
            <div class="secondtext">
                <i class="fa fa-desktop"></i>
                Cantidad de equipos: {{ datos_pisos.1.total_equipos }}
            </div>
        </a>
        <a href="#" class="dependencias-box" data-piso="2">
            <div class="tittle">Segundo Piso</div>
            <hr>
            <div class="secondtext">
                <i class="fa fa-building"></i>
                Cantidad de dependencias: {{ datos_pisos.2.total_dependencias }}
            </div>
            <div class="secondtext">
                <i class="fa fa-desktop"></i>
                Cantidad de equipos: {{ datos_pisos.2.total_equipos }}
            </div>
        </a>
        <a href="#" class="dependencias-box" data-piso="3">
            <div class="tittle">Tercer Piso</div>
            <hr>
            <div class="secondtext">
                <i class="fa fa-building"></i>
                Cantidad de dependencias: {{ datos_pisos.3.total_dependencias }}
            </div>
            <div class="secondtext">
                <i class="fa fa-desktop"></i>
                Cantidad de equipos: {{ datos_pisos.3.total_equipos }}
            </div>
        </a>
        <a href="#" class="dependencias-box" data-piso="todas">
            <div class="tittle">Todas las Dependencias</div>
            <hr>
            <div class="secondtext">
                <i class="fa fa-building"></i>
                Dependencias totales: {{ total_dependencias }}
            </div>
            <div class="secondtext">
                <i class="fa fa-desktop"></i>
                Equipos totales: {{ total_equipos }}
            </div>
        </a>
    </div>

    <div class="box-table mt-3" style="display: none;">
        <div class="table-responsive">
            <table id="controls-table" class="table text-center table-striped table-bordered">
                <thead class="third-title">
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Piso</th>
                        <th>Cantidad equipos</th>
                        <th>Gestionar</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="gestionardependencia" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <i class="fas fa-building"></i> Equipos asignados a: <b id="dep_nombre"></b>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body row">
                <div class="col-md-8">
                    <h6><i class="fas fa-desktop"></i> Equipos asignados</h6>
                    <div id="equipos_list">
                        <div class="d-flex justify-content-center align-items-center" style="height:150px;">
                            <div class="spinner-border text-primary" role="status"><span class="visually-hidden">Cargando...</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h6><i class="fas fa-plus-circle"></i> Asignar equipo</h6>
                    <div id="equipos_libres_container">
                        <div class="d-flex justify-content-center align-items-center" style="height:150px;">
                            <div class="spinner-border text-primary" role="status"><span class="visually-hidden">Cargando...</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'libs/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'js/dependencias.js' %}"></script>

{% endblock %}