{% extends 'layouts/base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/prestamos.css' %}">

<div id="prestamosPage" data-url-base="{% url 'prestamos' %}">
    <div class="box-home">
        <label><i class="fas fa-users-cog"></i>&nbsp;Administrador de préstamos</label> ⇒
        <a href="#" class="badge text-dark text-decoration-none" style="background-color: #f1e37d;" data-bs-toggle="modal" data-bs-target="#modalPrestamo">
            <i class="far fa-plus-square"></i> Registrar Préstamo
        </a>
    </div>

    <div class="box-table mt-3">
        <div class="table-responsive">
            <table id="controls-table" class="table text-center table-striped table-bordered">
                <thead class="third-title">
                    <tr>
                        <th>ID</th>
                        <th>Categoría</th>
                        <th>Marca</th>
                        <th>Usuario</th>
                        <th>Estado</th>
                        <th>Observaciones</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="modalPrestamo" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <i class="fas fa-plus"></i> Registrar Nuevo Préstamo
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="formPrestamo" novalidate>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="id_categoria" class="form-label">
                                <i class="fas fa-tags"></i> Categoría
                            </label>
                            <select class="form-select" id="id_categoria" name="id_categoria" required>
                                <option value="">Seleccione una categoría</option>
                                {% for cat in categorias %}
                                <option value="{{ cat.id }}">{{ cat.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class="col-md-6 mb-3">
                            <label for="id_equipo" class="form-label">
                                <i class="fas fa-desktop"></i> Equipo
                            </label>
                            <select class="form-select" id="id_equipo" name="id_equipo" required disabled>
                                <option value="">Seleccione un equipo</option>
                            </select>
                        </div>
                        
                        <div class="col-md-6 mb-3">
                            <label for="id_user" class="form-label">
                                <i class="fas fa-user"></i> Usuario
                            </label>
                            <select class="form-select" id="id_user" name="usuario" required>
                                <option value="">Seleccione un usuario</option>
                                {% for u in usuarios %}
                                <option value="{{ u.id }}">{{ u.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class="col-md-6 mb-3">
                            <label for="f_prestamo" class="form-label">
                                <i class="fas fa-calendar"></i> Fecha de Préstamo
                            </label>
                            <input type="date" class="form-control" id="f_prestamo" name="f_prestamo" required>
                        </div>
                        
                        <div class="col-md-6 mb-3">
                            <label for="nombre_adm" class="form-label">
                                <i class="fas fa-user-tie"></i> Administrador
                            </label>
                            <input type="text" class="form-control" id="nombre_adm" name="nombre_adm" value="{{ user_name }}" readonly>
                        </div>
                        
                        <div class="col-md-12 mb-3">
                            <label for="observacion" class="form-label">
                                <i class="fas fa-comment"></i> Observaciones
                            </label>
                            <textarea class="form-control" id="observacion" name="observacion" rows="3"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" id="btnGuardarPrestamo">Guardar</button>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'libs/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'js/prestamos.js' %}"></script>

{% endblock %}