{% extends 'layouts/base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/categorias.css' %}">

<div id="categoriaPage" data-url-base="{% url 'categorias' %}">
    <div class="box-home mb-3">
        <label><i class="fas fa-tags"></i>&nbsp;Administrador de categorías</label> ⇒
        <a href="#" class="badge text-dark text-decoration-none" style="background-color: #f1e37d;" data-bs-toggle="modal" data-bs-target="#nuevaCategoria">
            <i class="far fa-plus-square"></i> Registrar Categoría
        </a>
    </div>
    <div class="col-md-12">
        <div class="box-table">
            <div class="table-responsive">
                <table id="controls-table" class="table text-center table-striped table-bordered">
                    <thead class="third-title">
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Cantidad equipos</th>
                            <th>Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cat in categorias %}
                        <tr>
                            <td>{{ cat.id }}</td>
                            <td>{{ cat.nombre }}</td>
                            <td>
                                <span class="badge bg-success d-inline-flex align-items-center py-1 px-2 equipos-badge">
                                    <i class="fas fa-desktop me-1"></i>
                                    {{ cat.cantidad_equipos }} Equipos
                                </span>
                            </td>
                            <td>
                                <a href="#" class="btn-editar" data-bs-toggle="modal" data-bs-target="#editarCategoria"
                                   data-id="{{ cat.id }}" data-nombre_categoria="{{ cat.nombre }}">
                                    <i class="far fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                        {% empty %}

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="nuevaCategoria" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="nuevaCategoriaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="nuevaCategoriaLabel">Registrar Categoría</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <form id="registrar_categoria_form" novalidate>
                {% csrf_token %}
                <div class="modal-body">
                    <div class="mb-3">
                        <i class="fas fa-tag"></i>
                        <label for="nombre_categoria_crear" class="form-label">Nombre de Categoría:</label>
                        <input type="text" id="nombre_categoria_crear" name="nombre" autocomplete="off" class="form-control" required placeholder="Notebooks">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success">Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="editarCategoria" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editarCategoriaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarCategoriaLabel">Editar Categoría</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <form id="editar_categoria_form" novalidate>
                {% csrf_token %}
                <input type="hidden" id="edit_categoria_id">
                <div class="modal-body">
                    <div class="mb-3">
                        <i class="fas fa-tag"></i>
                        <label for="nombre_categoria_actual" class="form-label">Nombre Actual:</label>
                        <input type="text" id="nombre_categoria_actual" class="form-control" readonly>
                    </div>
                    <div class="mb-3">
                        <i class="fas fa-tag"></i>
                        <label for="nombre_categoria_editar" class="form-label">Nuevo Nombre de Categoría:</label>
                        <input type="text" id="nombre_categoria_editar" name="nombre" autocomplete="off" class="form-control" required placeholder="Ingrese nuevo nombre">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success">Guardar Cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="{% static 'libs/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'js/categorias.js' %}"></script>

{% endblock %}