{% extends 'layouts/base.html' %}
{% block content %}
{% load static %}

<div style="margin-top: .75rem;"></div>
<div class="row">
    <div class="col-12 col-md-3 mb-3">
        <div class="card-home">
            <div class="tittle"><i class="far fa-list-alt"></i> Resumen rápido</div>
            <hr>
            <ul class="lista">
                <li>
                    <span><i class="fas fa-desktop"></i> Equipos totales</span>
                    <span class="valor">0</span>
                </li>
                <li>
                    <span><i class="fas fa-hand-holding"></i> Equipos prestados</span>
                    <span class="valor">0</span>
                </li>
                <li>
                    <span><i class="fas fa-check-circle"></i> Equipos en oficinas</span>
                    <span class="valor">0</span>
                </li>
                <li>
                    <span><i class="fas fa-business-time"></i> Préstamos activos</span>
                    <span class="valor">0</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-12 col-md-3 mb-3">
        <div class="card-home">
            <div class="tittle"><i class="fas fa-chart-pie"></i> Resumen de préstamos</div>
            <hr>
            <div class="contenedor-grafico">
                <canvas id="chartDevoluciones"></canvas>
            </div>
       </div>
    </div>
    <div class="col-12 col-md-6 mb-3">
        <div class="card-home">
            <div class="tittle"><i class="fas fa-chart-bar"></i> Equipos por categorías</div>
            <hr>
            <div class="contenedor-grafico">
                <canvas id="chartBarras"></canvas>
            </div> 
        </div>
    </div>
    <div class="col-12 col-md-6 mb-3">
        <div class="card-home">
            <div class="tittle"><i class="fas fa-chart-bar"></i> Préstamos por categorías</div>
            <hr>
            <div class="contenedor-grafico">
                <canvas id="chartBarras2"></canvas>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 mb-3">
        <div class="card-home">
            <div class="tittle"><i class="fas fa-chart-bar"></i> Top usuarios con más préstamos</div>
            <hr>
            <div class="contenedor-grafico">
                <canvas id="chartBarras3"></canvas>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/panel.js' %}"></script>
{% endblock %}